.container {
  max-width: 960px;
}

/*
 * Custom translucent site header
 */

.site-header {
  background-color: rgba(0, 0, 0, 0.85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #999;
  transition: ease-in-out color 0.15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

/*
 * Dummy devices (replace them with your own or something else entirely!)
 */

.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
}

/*
 * Extra utilities
 */

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

.flex-equal > * {
  -ms-flex: 1;
  -webkit-box-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
  }
}

.overflow-hidden {
  overflow: hidden;
}

/*
 * Blaze
 */

.card-container {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  padding-bottom: 150px;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .card-container {
    margin-bottom: 0;
    border-radius: 5px;
  }
}

.card-content {
  background-color: deeppink;
  position: relative;
  min-height: 200px;
}

.card-bottom-panel {
  position: absolute;
  width: 340px;
  height: 150px;
  border-radius: 21px 21px 0 0;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card-bottom-panel img {
  padding-top: 10px;
  width: 70%;
}

.schedule-container {
  flex: 1;
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

@media screen and (max-width: 1500px) and (min-width: 768px) {
  .schedule-container {
    flex-direction: column;
  }
}

@media screen and (max-width: 650px) {
  .schedule-container {
    flex-direction: column;
  }
}

.schedule-day-container {
  flex-basis: 50%;
  min-width: 250px;
}

.schedule-item {
  height: 30px;
  width: 100%;
  padding-left: 10px;
  padding-right: 5px;
  text-align: left;
  color: #343a40;
  border-bottom: 1px solid rgb(172, 172, 172);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.schedule-header {
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: #343a40;
  color: white;
  font-weight: 700;
  text-align: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin-bottom: 5px;
}

.workshops-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.workshop-container {
  padding: 16px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  background: white;
  margin-bottom: 20px;
  border-radius: 20px;
  color: #343a40;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.workshop-item {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.workshop-name {
  color: #17a2b8;
  font-weight: 700;
}

.time {
  color: #17a2b8;
  padding-right: 5px;
}

.datetime {
  color: grey;
}

.scenarios-image {
  padding-top: 10px;
  margin-top: 7px;
  height: 100%;
  width: 80% !important;
}

.github-image {
  width: 100%;
  margin-bottom: 20px;
}

.github-link {
  color: #17a2b8;
  padding: 12px;
  text-decoration: none; /* no underline */
}

.github-link:hover {
  color: #17a2b8;
  text-decoration: none;
  opacity: 0.8;
}

.hashtag {
  color: #17a2b8;
  font-weight: 500;
}
